// LINKS A LOS DEMAS SCSS
@import "colors";
@import "header";
@import "menu";
@import "footer";
@import "mediaquerries";

// RESETEO CSS
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.body--color{
    background-color: $colorbg;
        // CARROUSEL DEL INDEX
        .carousel_imagenes--tamano{
            height: 400px;
            margin: auto;        
        }
        .sizeCarousel{
            margin-right: 0%;
            margin-left: 0%;
        }
    // GRILLA DEL INDEX        
    #grilla{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 360px 100px 300px 300px 70px 305px 305px 100px;
        grid-template-areas: 
            "caja2 caja1 caja1"
            "caja4 caja4 caja5"
            "caja7 caja6 caja6"
            "caja8 caja8 caja9"
            "cajadiez cajadiez cajadiez"
            "cajaonce cajadoce cajadoce"
            "cajatrece cajacatorce cajaquince"
            "cajadieciseis cajadieciseis cajadieciseis";
        gap: 5px;
    }
    .caja0{
        grid-area: caja0;
    }
    .caja1{
        grid-area: caja1;
    }
    .caja2{
        width: 300px;
        height: 400px;
        grid-area: caja2;
    }
    .caja3{
        grid-area: caja3;
    }
    .caja4{
        grid-area: caja4;
    }
    .caja5{
        width: 40px;
        height: 40px;
        grid-area: caja5;
    }
    .caja6{
        grid-area: caja6;
    }
    .caja7{
        grid-area: caja7;
    }
    .caja8{
        grid-area: caja8;
    }
    .caja9{
        grid-area: caja9;
    }
    .cajadiez{
        grid-area: cajadiez;
    }
    .cajaonce{
        grid-area: cajaonce;
    }
    .cajadoce{
        grid-area: cajadoce;

    }
    .cajatrece{
        grid-area: cajatrece;
    }
    .cajacatorce{
        grid-area: cajacatorce;
    }
    .cajaquince{
        grid-area: cajaquince;
    }
    .cajadieciseis{
        grid-area: cajadieciseis;
    }
    // FIN GRILLA DEL INDEX
    // TAMAÑOS DE IMAGENES INDEX
    .imagen--perfil--tamano{
        width: 250px;
        height: 350px;
    }
    .imagenes--tamano{
        width: 250px;
        height: 250px;
    }
    .tamano--location--icon{
        width: 40px;
        height: 40px;
    }
}




